<div id="page-wrapper" >
  <div id="page-inner">
    <div class="row">
        <div class="col-lg-6 col-md-12">
<h3><% if params[:type].eql?('agent') %>New Agent <% else %> New Customer <% end %></h3>
<%= form_for [:admin, @user], :html => {:id => "user",:multipart => true } do |f| %>
  <% for message in @user.errors.full_messages %>
    <%= message %><br/>
  <% end %>
  
  <fieldset>
    <div>
      <label for="name">User Name</label>
      <div>
        <%= f.text_field :username ,:placeholder=>"User Name"%>
      </div>
    </div>
    <div>
      <label for="name">First Name</label>
      <div>
        <%= f.text_field :first_name ,:placeholder=>"First Name" %>
      </div>
    </div>
    <div>
      <label for="name">Last Name</label>
      <div>
        <%= f.text_field :last_name ,:placeholder=>"Last Name" %>
      </div>
    </div>
    <div>
      <label for="name">Email</label>
      <div>
        <%= f.email_field :email ,:placeholder=>"Email"%>
      </div>
    </div>
      <%= f.hidden_field :user_type, value: params[:type].eql?('agent') ? 'agent' : 'customer' %>
    <div>
      <% if params[:type].eql?('agent') %>
          <%= f.fields_for :agent_detail do |builder| %>
            <%= render "agent_detail_fields", :f => builder %>
          <% end %>
      <% end %>
    </div>  
    <div>
      <div>
        <%= f.submit "Submit" %>
      </div>
    </div>
  </fieldset>
<%end%>
</div>
</div>
</div>

